#videoWrapper {
    text-align: center;
}

video {
    display: inline-block;
    height: 20rem;
}

#photoWrapper {
    display: flex;
}

#photoCanvas {
    display: none;
}

#previewWrapper {
    text-align: center;
}

#photoPreview {
    display: inline-block;
    width: 30rem;
}

#loading {
	width: 10vw;
	height: 100vh;
	opacity: 0.5;
	background: url(../images/tl.png);
	background-size:100%;
	border-width:0px;	/*边框透明*/
	outline:none;	/*点击后没边框*/
}
#loading:hover{
	width: 10vw;
	height: 100vh;
	opacity: 0.9;
	background: url(../images/tl.png);
	background-size:105%;
	border-width:0px;	/*边框透明*/
	outline:none;	/*点击后没边框*/
}