#videoWrapper {
    text-align: center;
}

video {
    display: inline-block;
    height: 20rem;
}

#photoWrapper {
    display: none;
}

#photoCanvas {
    display: none;
}

#devImgWrapper {
    text-align: center;
}

#img {
    display: inline-block;
    width: 30rem;
}

